body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  background-color: #eeeeee;
}

h1 {
  color: #005792;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  color: #005792;
  font-size: 2.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #00bbf0;
  font-family: 'Bree Serif', serif;
}

hr {
  border: dotted #00204a 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2.5;
}

a {
  color: #00bbf0;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 1.25rem;
}

a:hover {
  color: #d9faff
}

.top-container {
  background-color: #00204a;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  background-color: #00204a;
  padding: 50px 0 20px;
}

.pro {
  color: red;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 25%;
  top: 5%;
}

.bottom-cloud {
  position: absolute;
  left: 25%;
  bottom: 43%;
}


.skill-row {
  width: 40%;
  margin: 100px auto;
  text-align: left;
}

.computer-img {
  float: left;
  margin-right: 30px;
}

.dev-img {
  float: right;
  margin-left: 30px;
}

.btn {
  background: #00204a;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: 100;
  padding: 30px;
  -webkit-box-shadow: 1px 1px 20px 0;
  -moz-box-shadow: 1px 1px 20px 0;
  box-shadow: 1px 1px 20px 0;
  text-shadow: 1px 1px 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #005792;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  width: 10%;
}

.coppy {
  color: #005792;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.programmer {
  color: #d9faff;
}
